@media (max-width:1230px){
    .test-onetestpage__body{padding:40px 30px 70px;}
    }
@media (max-width:991.98px){
    .test-onetestpage__block{margin:0;}
}
@media (max-width:767.98px){
    ._ui_btn_yellow_small{padding:0 30px;}
    .test-onetestpage__body{padding:40px 20px 70px;border-radius:0;border-left:none;border-right:none;}
    .test-onetestpage__subtitle{font-size:20px;margin:0 0 15px 0; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}
    .test-onetestpage__block{margin:0;}
}
@media (max-width:479.98px){
    .test-onetestpage__block .options__text{font-size:15px;}
    ._ui_text{font-size:15px;}
    .test-onetestpage__subtitle{text-align:left;font-size:17px;margin:0 0 15px 0;}
    .test-onetestpage__block{margin:0;}
    .bottom-testonetestpage__row{-webkit-box-orient:vertical;-webkit-box-direction:reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse;}
    .bottom-testonetestpage__col{-webkit-box-flex:1;-ms-flex:1 1 100%;flex:1 1 100%;max-width:none;}
    .bottom-testonetestpage__btn{width:100%;}
}

* {
    padding:0;
    margin:0;
    border:0; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
*,:after,:before{
    -webkit-box-sizing:border-box;box-sizing:border-box;
}

button{
    cursor:pointer;
    background-color:inherit;
}
h3{
    font-weight:inherit;font-size:inherit;
}
.test-onetestpage__block .options{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-align:start;
    -ms-flex-align:start;
    align-items:flex-start;
}
.test-onetestpage__block .options__item{
    position:relative;width:100%;margin:0 0 6px 0;cursor:pointer;
}
.test-onetestpage__block .options__item:last-child{
    margin:0 0 40px 0;
}
.test-onetestpage__block .options__input{
    position:absolute;width:0;height:0;opacity:0;left:0;top:0;visibility:hidden;
}
.test-onetestpage__block .options__input:checked+.options__text{
    background-color:#15499f;color:#fff;
}
.test-onetestpage__block .options__input:checked+.options__text:before{
    border:2px solid #ffc864;background-color:#ffc864;
}
.test-onetestpage__block .options__input:checked+.options__text:after{
    -webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);
}
.test-onetestpage__block .options__text{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    padding:13px 3px 13px 44px;
    border-radius:10px;
    background-color:#f4f4f4;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    position:relative;
    font-weight:500;
    font-size:17px;
    line-height:130%;
    color:#030623;
}
.test-onetestpage__block .options__text:before{
    content:"";
    -ms-flex-item-align:start;
    align-self:flex-start;
    -webkit-box-flex:0;
    -ms-flex:0 0 24px;
    flex:0 0 24px;
    left:10px;
    position:absolute;
    top:12px;
    border-radius:50%;
    width:24px;
    height:24px;
    background:#f4f4f4;
    border:2px solid #15499f;
}
.test-onetestpage__block .options__text:after{
    content:"";
    -webkit-transition:all .3s ease 0s;
    -o-transition:all .3s ease 0s;
    transition:all .3s ease 0s;
    -webkit-transform:scale(0);
    -ms-transform:scale(0);
    transform:scale(0);
    width:10px;
    height:10px;
    border-radius:50%;
    background-color:#f4f4f4;
    position:absolute;
    left:17px;
    top:19px;
}
._ui_btn_yellow_small{
    height:56px;
    background-color:#ffc864;
    border:2px solid #ffc864;
    border-radius:6px;
    display:-webkit-inline-box;
    display:-ms-inline-flexbox;
    display:inline-flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    text-align:center;
    text-transform:uppercase;
    font-weight:600;
    font-size:15px;
    line-height:18px;
    padding:0 40px;
    color:#030623;
    -webkit-transition:all .3s ease 0s;
    -o-transition:all .3s ease 0s;
    transition:all .3s ease 0s;
}
._ui_btn_yellow_small:hover{
    border:2px solid #15499f;background-color:#fff;color:#15499f;
}
._ui_btn_yellow_small{
    height:46px;padding:0 25px;
}
._ui_btn_next{
    display:inline-block;padding:0 26px 0 0;position:relative;
}
._ui_btn_next:before{
    content:'';
    position:absolute;
    width:6px;
    height:16px;
    top:50%;
    -webkit-transform:translatey(-50%);
    -ms-transform:translatey(-50%);
    transform:translatey(-50%);
    right:0;
    background:url(https://careertest.ru/static/img/icons/btn_next.svg) center/contain no-repeat;
}
._ui_text{
    font-size:17px;line-height:130%;color:#5f6279;
}
._ui_text p{
    margin:0 0 20px 0;
}
._ui_text p:last-child{margin:0;}
.right-headonetestpage__top{margin:0 0 24px 0;}
.right-headonetestpage__text{margin:0 0 1z7px 0;}
.right-headonetestpage__text:last-child{margin:0;}
.test-onetestpage__body{border-radius:200px;border:2px solid ##15499f;padding:67px 112px 43px 96px;}
.test-onetestpage__subtitle{font-weight:500;font-size:24px;line-height:130%;max-width:835px;margin:0 auto 15px;text-align:center;}
.test-onetestpage__block{margin:0;}
.bottom-testonetestpage__row{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    margin:0 -5px;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
}
.bottom-testonetestpage__col{padding:0 5px;}
